html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-size: 0.14rem;
  font-family: "微软雅黑";
}

a,
a:active,
a:focus,
a.visited {
  color: #000;
  text-decoration: none;
}

/* **************************样式修正************************** */
